{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
    <p>
        {% blocktrans %}
            Upload xlsx file with a list of product vendor codes. The first column must be the column of vendor codes
            starting from the first row. Select site domains you want to hide products on.
        {% endblocktrans %}
    </p>
    <p>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ archive_products_form.as_p }}
            <input type="submit" name="archive_products_form">
        </form>
    </p>
    {{ block.super }}
{% endblock %}


